/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  

*{
    transition: 0.6s;
    background-size: 100% 100%;
  }
  aside {
    background: #191D2B;
    overflow-y: scroll;
    overflow: auto;
    scroll-behavior: smooth;
  }
  
  .user {
    height: 46%;
    border-bottom: 1px solid rgba(173, 216, 230, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  aside::-webkit-scrollbar {
    width: 8px;
  }
  
  aside::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #6B6B6B;
  }
  
  .round {
    height: 75%;
    width: 74%;
    border-radius: 100%;
    border: 6px solid #2E344E;
    background-image: url(/public/img/abd.png);
    background-size: 100% 100%;
    cursor: pointer;
  }
  
  aside ul {
    list-style-type: none;
    height: 45%;
    margin: 0;
    padding-right: 6px;
    border-bottom: 1px solid rgba(173, 216, 230, 0.247);
  }
  
  aside li {
    color: #A4ACC4;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    padding: 8px 0px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s linear;
    z-index: 1;
  }
  
  aside li::after {
    left: 0;
    top: 0;
    z-index: -1;
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #0381ff33;
    transition: all 0.5s linear;
  }
  
  aside li:nth-child(1) {
    background: #037FFF;
  }
  
  aside li:hover {
    color: blue;
    transition: all 0.5s linear;
  }
  
  aside li:hover::after {
    width: 100%;
    transition: all 0.5s linear;
  }
  
  footer {
    height: 10%;
    color: #A4ACC4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side{
    right: 0;
  }